body, html {
    font-family: "Roboto", sans-serif;
    // background: linear-gradient(to bottom, #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
    height: 100%;
    font-size: 20px;
}

.logo {
    background-image: url('img/dino.png');
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
}

:root {
    text-size-adjust: 100%;
}

.active {
    color: pink;
  }

.model-selector-div {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

#build-model-error-message, #generate-sample-error-message, #play-sample-error-message, #download-sample-error-message {
    color: red;
    display: none;
    margin: 0;
    padding: 5px;
}